.container{
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    height: 100vh;
}

.kontakt-box{
    padding-top:10rem ;

}

@media (max-width:400px){
.kontakt{
    height: 750px;
}
}