.mapa{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container{
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    height: 100vh;
}
.mapaTekst{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    text-shadow: 2px 2px rgb(97, 97, 98);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-top: 1.5rem;
}


@media (max-width:500px){
    .mapaTekst{
        font-size: 1rem;
        text-shadow: 1.3px 1.3px rgb(97, 97, 98);
    }
}